rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // users → only user can access their doc
    function isSignedIn() {
      return request.auth != null;
    }

    function isDeviceMember(deviceId) {
      return isSignedIn()
        && exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.deviceId == deviceId;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    // devices → open access (for your project)
    match /devices/{deviceId} {
      allow read: if isDeviceMember(deviceId);
      allow write: if true;

      match /data/{docId} {
        allow read: if isDeviceMember(deviceId);
        allow write: if true;
      }
    }
  }
}
